* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  background-image: url(./media/puntitos.svg);
}

@media (min-width: 769px) {
  .main {
    padding: 36px 80px 0 80px;
  }
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 769px) {
  .header {
    padding: 0;
  }
}

.header-logo {
  width: 54px;
}

@media (min-width: 769px) {
  .header-logo {
    width: 95px;
  }
}

.menu {
  width: 36px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  height: 5px;
  background-color: #000;
}

@media (min-width: 769px) {
  .menu {
    display: none;
  }
}

.nav {
  display: none;
}

@media (min-width: 769px) {
  .nav {
    display: flex;
    width: 428px;
    justify-content: space-between;
  }

  .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .main-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  width: 291px;
  margin: 30px 0 0 0;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 769px) {
  .title {
    width: 313px;
    align-self: flex-start;
    margin: 0;
    padding-top: 115px;
  }
}

.retrato {
  max-width: 318px;
}

@media (min-width: 769px) {
  .retrato {
    max-width: 435px;
  }
}

.about {
  background-color: #141414;
  height: 538px;
  padding: 55px 32px;
  display: flex;
  justify-content: center;
}

.about-container {
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 769px) {
  .about-container {
    width: 840px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.about-title {
}

.subtitle {
  font-size: 32px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 769px) {
  .subtitle {
    text-align: left;
  }
}

.about-paragraph {
  min-width: 312px;
  max-width: 532px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 41px;
}

@media (min-width: 769px) {
  .about-paragraph {
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .about-text {
    width: 532px;
  }
}

.check {
}

@media (min-width: 769px) {
  .check {
    width: 211px;
  }
}

.services {
  padding: 0 57px;
}

@media (min-width: 769px) {
  .services {
    padding: 0 80px;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
}

.services-title {
  margin-top: 40px;
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  .titulo-service {
    font-size: 48px;
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 769px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.card-info {
  max-width: 262px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 120px;
}

.contact {
  padding: 70px 20px;
  background-color: #141414;
  color: #fafafa;
  padding-top: 70px;
}

@media (min-width: 769px) {
  .contact {
    padding: 116px 0;
    display: flex;
    justify-content: center;
  }
}

.contact-container {
}

@media (min-width: 769px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    width: 724px;
  }
}

.titulo-contacto {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.formulario {
  width: 335px;
  height: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 36px auto 0 auto;
}

@media (min-width: 769px) {
  .formulario {
    width: 376px;
    margin: 0 auto 0 auto;
  }
}

.label {
  display: block;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

.input,
.textarea {
  padding: 10px;
  font-size: 13px;
  width: 100%;
  height: 45px;
  margin-top: 9px;
  border: none;
  font-family: "Roboto", sans-serif;
}

.textarea {
  height: 110px;
}

.boton-formulario {
  background-color: #ffd953;
  padding: 13px 0;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
}

.footer {
  height: 490px;
  background-color: #dbdbdb;
  padding: 53px 0 0 16px;
}

@media (min-width: 769px) {
  .footer {
    height: 346px;
    padding: 95px 215px 95px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-logo {
    width: 112px;
  }
}

.copyright {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 91px;
}

.redes {
  display: flex;
  flex-direction: column;
}

.redes {
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-red {
  font-size: 16px;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon-red {
  width: 28px;
  margin-right: 7px;
}
